/* SearchBox.css */

.search-container {
    display:flex;
    position: relative;
    left: 28.5%;
    border-radius: 5px;
    border:0.5px solid rgb(54, 53, 53) ;
    padding: 15px; 
box-shadow: 2.5px 2.5px 2.5px  rgba(116, 116, 116, 0.744) ;
margin-top: 5%;
width: 43%;
background-color: #27293d;



  }
  
  input[type="text"] {
    flex: 1; /* Expand to fill available space */
    border: none;
    outline: none;
    font-size: 18px;
    margin-left: 15px;
    background-color: #27293d;

  }
  
