.s-extra{
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 16px;
    margin-top: 1%;
    width: 45%;
    position: relative;
    left: 29%;
    color:
#6E6B7B;
color:
RGB(110, 107, 123);
background-color:
#000000;
background-color:
RGBA(0, 0, 0, 0); 
  


}
.e-extra{
    flex:1;

}