.footer{
 display: grid;
 text-align: center;
 justify-content: center;
 margin-top: 5%;
 margin-bottom: 0;
 background-color: #141425d3;
 color: aliceblue;

}
.logo>img{
    width: 200px;
    height: 60px;
    margin-bottom: -8px;
    
}
.logo{
  margin-top: 4%;
}
.copyright{
    margin-top: 10px;
    font-size: 16px;

}
.social-media{
    /* gap: 140px; */
    margin-top: 15px;
    margin-bottom: 12px;
}
.icon{
    color:aliceblue;
    margin-right: 10px;
    margin-left: 10px;
    
}